body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.menu{
  visibility: hidden;
}
.newMenu{
  visibility: visible;
}

#Wrong:hover{
/* background-color:rgb(186, 235, 235); */
/* border-radius: 10px; */

}
.menuUl{
  /* border:2px solid green ; */
  list-style: none;
  width:fit-content;
  display: grid;

  /* width: fit-content; */
  grid-template-columns: 80px 80px 80px;
  grid-gap: 20px;
  /* grid-row-gap: 100px; */
}
.img{
  height: 200px;
  width: 400px;
  display: block;
  margin:auto
}
.menuUl li{
  margin: 5px;
  /* margin-top: 100px; */
  /* margin-left: 50px; */
  /* border:2px solid brown; */
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menuUl li  img{
  height: 50px;
  width: 50px;
}
.menuUl li:hover{
  background-color:rgb(186, 235, 235);
  border-radius: 20px;
}
@media  screen and (max-width:700px) {
 
  .navul{
    width:300px;
  }
  .img{
  /* height: 1000px; */
  height: 100px;
  width: 200px;
  margin-left: 46px;
  }
  
#input{
  width: 200px;
  /* margin-left: -100px; */
}
.sectionUl{
  margin-left: -30px;
}
.sectionButton{
  width: 300px;
}
.sb1{
  margin-left: -30px;
}
.menuUl{
  list-style: none;
  width:fit-content;
  display: grid;
  /* margin-right: 100px; */

  /* width: fit-content; */
  grid-template-columns: 80px 80px;
  grid-gap: 5px;
  /* grid-row-gap: 100px; */
}
#menu{
  margin-right: -50px;
  /* height:100px; */

}

.menuUl a li img{
  height: 20px;
  width: 20px;
}
#Wrong i{
  margin-left: -100px;
}
.menuUl a{
  height: 60px;
  width: 60px;
}
.maindiv{
  margin-left: 40px;
}
}  
